.sidebar-sticky {
    background-color: #f8f9fa;
    height: 100vh;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    
    li {
        margin: 5px 0;
        a {
            font-weight: 400;
            font-size: 14px;
            &.active {
                font-weight: 600;
            }
            
            i {
                margin-right: 10px;
            }
        }
    }
}